In [187]:
import pandas as pd
import numpy as np

In [188]:
brand = pd.read_csv('/content/brand.csv')
product = pd.read_csv('/content/product.csv')
store = pd.read_csv('/content/store.csv')
sales = pd.read_csv('/content/sales.csv')

In [189]:
brand = brand.rename(columns={'name': 'brand_name'})
brand

                  brand_name  id
0           Bartoletti Group   0
1  Ryan, Pollich and Rolfson   1

In [190]:
product = product.rename(columns={'id': 'product_id'})
product = product.rename(columns={'brand': 'brand_name'})
product

          name                 brand_name  product_id
0     Red Wine           Bartoletti Group           0
1        Water           Bartoletti Group           1
2  Smart Phone  Ryan, Pollich and Rolfson           2
3      T-Shirt           Bartoletti Group           3
4       Laptop  Ryan, Pollich and Rolfson           4

In [191]:
merged_df = pd.merge(brand,product, on='brand_name')
merged_df

                  brand_name  id         name  product_id
0           Bartoletti Group   0     Red Wine           0
1           Bartoletti Group   0        Water           1
2           Bartoletti Group   0      T-Shirt           3
3  Ryan, Pollich and Rolfson   1  Smart Phone           2
4  Ryan, Pollich and Rolfson   1       Laptop           4

In [192]:
sales = sales.rename(columns={'product': 'product_id'})
sales

      store  product_id        date  quantity
0         0           0  2021-01-01         6
1         0           0  2021-01-02        19
2         0           0  2021-01-03        14
3         0           0  2021-01-04        10
4         0           0  2021-01-05         7
...     ...         ...         ...       ...
3745      4           4  2021-05-26        17
3746      4           4  2021-05-27         9
3747      4           4  2021-05-28         8
3748      4           4  2021-05-29         7
3749      4           4  2021-05-30         9

[3750 rows x 4 columns]

In [193]:
merged_df = pd.merge(merged_df, sales, on='product_id')
merged_df = merged_df.rename(columns={'id': 'brand_id','store': 'store_id'})
merged_df.head(10)

,brand_name,brand_id,name,product_id,store_id,date,quantity
0,Bartoletti Group,0,Red Wine,0,0,2021-01-01,6
1,Bartoletti Group,0,Red Wine,0,0,2021-01-02,19
2,Bartoletti Group,0,Red Wine,0,0,2021-01-03,14
3,Bartoletti Group,0,Red Wine,0,0,2021-01-04,10
4,Bartoletti Group,0,Red Wine,0,0,2021-01-05,7
5,Bartoletti Group,0,Red Wine,0,0,2021-01-06,6
6,Bartoletti Group,0,Red Wine,0,0,2021-01-07,18
7,Bartoletti Group,0,Red Wine,0,0,2021-01-08,10
8,Bartoletti Group,0,Red Wine,0,0,2021-01-09,10
9,Bartoletti Group,0,Red Wine,0,0,2021-01-10,3

In [194]:
merged_df.columns

Index(['brand_name', 'brand_id', 'name', 'product_id', 'store_id', 'date',
       'quantity'],
      dtype='object')

In [195]:
merged_df = merged_df.drop(columns=['brand_name','name'])
merged_df.head(10)

   brand_id  product_id  store_id        date  quantity
0         0           0         0  2021-01-01         6
1         0           0         0  2021-01-02        19
2         0           0         0  2021-01-03        14
3         0           0         0  2021-01-04        10
4         0           0         0  2021-01-05         7
5         0           0         0  2021-01-06         6
6         0           0         0  2021-01-07        18
7         0           0         0  2021-01-08        10
8         0           0         0  2021-01-09        10
9         0           0         0  2021-01-10         3

In [196]:
merged_df['date'] = pd.to_datetime(merged_df['date'])

In [197]:
merged_df['date'][0].day

1

In [198]:
df = merged_df[merged_df['date']=='2021-01-08']
#df = df.drop(columns=['brand_name','name'])
df.head()

     brand_id  product_id  store_id       date  quantity
7           0           0         0 2021-01-08        10
157         0           0         1 2021-01-08        11
307         0           0         2 2021-01-08         7
457         0           0         3 2021-01-08        17
607         0           0         4 2021-01-08        12


Finding **'Sales Product'**

In [199]:
df4 = df[(df['brand_id']==0)&(df['product_id']==0)&(df['store_id']==0)]
sales_product = df4['quantity'].values[0]
sales_product

10

Finding **'Sales Brand'**

In [200]:
df2 = df[(df['brand_id']==0)&(df['store_id']==0)]
sales_brand = df2['quantity'].values.sum()
sales_brand

40

Finding **'Sales Store'**

In [201]:
toplam = 0
df3 = df[(df['brand_id']==1)&(df['store_id']==0)]
toplam= df2['quantity'].values.sum() + df3['quantity'].values.sum()
sales_store = toplam
sales_store

63

In [202]:
merged_df.head(9)

   brand_id  product_id  store_id       date  quantity
0         0           0         0 2021-01-01         6
1         0           0         0 2021-01-02        19
2         0           0         0 2021-01-03        14
3         0           0         0 2021-01-04        10
4         0           0         0 2021-01-05         7
5         0           0         0 2021-01-06         6
6         0           0         0 2021-01-07        18
7         0           0         0 2021-01-08        10
8         0           0         0 2021-01-09        10

Finding **'MA7_P'** and **'LAG7_P'**

In [203]:
today = 8 #datetime.day kullanÄ±p yazacaksÄ±n 8 yerine
tomorrow = today-1
df5 = merged_df[(merged_df['brand_id']==0)&(merged_df['product_id']==0)&(merged_df['store_id']==0)]
MA7_P = df5['quantity'][(tomorrow-7):tomorrow].sum()/7
MA7_P
LAG7_P = df5[df5['date'] == '2021-01-01']
LAG7_P = LAG7_P['quantity']
LAG7_P = LAG7_P[0]
message = f'MA7_P :{MA7_P}    LAG7_P :{LAG7_P}'
print(message)

MA7_P :11.428571428571429    LAG7_P :6

Finding **'MA7_B'** and **'LAG7_B'**

In [204]:
start_date = '2021-01-01'
end_date = '2021-01-07'

df6 = merged_df[(merged_df['brand_id']==0)&(merged_df['store_id']==0)]

filtered_df = df6[(df6['date'] >= start_date) & (df6['date'] <= end_date)]
MA7_B = filtered_df['quantity'].sum()/7
filtered_df2 = df6[(df6['date'] == start_date)]
LAG7_B = filtered_df2['quantity'].sum()
message = f'MA7_B :{MA7_B}    LAG7_B :{LAG7_B}'
print(message)

MA7_B :28.571428571428573    LAG7_B :21

Finding **'MA7_S'** and **'LAG7_S'**

In [205]:
start_date = '2021-01-01'
end_date = '2021-01-07'


df7 = merged_df[(merged_df['brand_id']==0)&(merged_df['store_id']==0)]
df8 = merged_df[(merged_df['brand_id']==1)&(merged_df['store_id']==0)]
df_sum = pd.concat([df7, df8], ignore_index=True)
sales_store_df = df_sum[(df_sum['date'] >= start_date) & (df_sum['date'] <= end_date)]
MA7_S = sales_store_df['quantity'].sum()/7
#MA7_S
sales_store_df2 = sales_store_df[(sales_store_df['date'] == start_date)]
LAG7_S = sales_store_df2['quantity'].sum()

message = f'MA7_S :{MA7_S}    LAG7_P :{LAG7_S}'
print(message)

MA7_S :46.0    LAG7_P :39